@charset "utf-8";
/* CSS Document */

body, input, select, textarea {
    font-family: tahoma, arial, sans-sarif;
    font-size: 12px;
}

div, form {
    margin: 0;
    padding: 0;
    outline-style: none;
}

.wA {
    height: auto;
    overflow: hidden;
    width: auto;
}

.uK {
    min-width: 760px;
    vertical-align: top;
    width: 100%;
}

.p0 {
    width: 100%
}

.qz {
    min-width: 600px;
    padding: 0;
    background: #fff;
    vertical-align: top;
    width: 100%;
}

.Zj {
    min-height: 300px;
    background-color: #fff;
}

.ds {
    margin: 0;
    min-height: 500px;
    min-width: 99%;
}

.cwb {
    color: #999;
    margin: -left : 8 px;
    display: block;
}

.vub {
    display: block;
    position: relative;
    -webkit-user-select: none;
}

.Dvb {
    margin-top: 20px;
}

.qo {
    font-size: 12px;
    border: none;
}

.qo .yd {
    width: 147px;
    text-align: left;
    margin: 0;
    color: white;
}

.yd.tg {
    background-color: #9db675;
    border-color: #6b7d4b;
}

.yd {
    border-style: solid;
    border-width: 1px;
    background: transparent;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    padding: 3px 5px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

.Br {
    float: left;
    margin: 0 5px;
    width: 208px;
}

.qo .uB {
    cursor: pointer;
    height: 20px;
    left: 165px;
    position: relative;
    width: 20px;
    border-radius: 4px;
    border: 2px solid #ccc;
    background-color: #9db675;
}

.qo th {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

.XO {
    background-image: url(gear_dim.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    height: 20px;
    width: 20px;
}

.nB {
    color: #333;
    position: relative;
    text-align: left;
}

.ttb {
    color: #777;
    padding-top: 3px;
    text-align: left;
}

.J4 {
    background: #f7f7f7;
    box-shadow: inset 2px 3px 10px rgba(0, 0, 0, .4);
    position: relative;
}

.D0 {
    margin-top: -7px;
    position: relative;
    margin-left: 100px;

}

/*这个作为第一次进入页面的class的css*/
.GU {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: 0px 2px 2px #ccc;
    box-shadow: 0px, 2px, 2px, #ccc;
    position: absolute;
}

.n7 {
    margin: 1px 1px 1px 1px;
    cursor: -webkit-grab;
    display: block;
    overflow: scroll;
    left: 2px;
    position: relative;
}

#chart {
    height: 500px;
}

$label_ {
    width: 100px;
    height: 100px;
    background-color: red;
}

.node0 rect {
    cursor: point;
    fill-opacity: .9;
    shape-rendering: crispEdges;
    width: 187px;
    background-image:-webkit-linear-gradient(top, rgb(217, 238, 201), rgb(133, 202, 84));

}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
    width: 187px;
}

.link {
    fill: #D1DFE0;
    stroke: #D1DFE0;
    fill-opacity: 0.8;
    stroke-width: 0.8px;
    cursor: point;
    display: none;
}

.link2 {
    fill: #88a4a4;
    stroke: #88a4a4;
    fill-opacity: 1;
    stroke-width: 1px;
    cursor: point;
}

.link:hover {
    stroke-opacity: 1;
}
.node0 {
    border-color: rgb(209, 223, 224);
    fill:  #FFF;
    background-image: -webkit-linear-gradient(top, rgb(217, 238, 201), rgb(133, 202, 84));
    font-family:Arial;
    font-size:12px;
    position:absolute;

}

.node1 {
    border-color: rgb(209, 223, 224);
    fill: #E2EFD9;
    background-image: -webkit-linear-gradient(top, rgb(217, 238, 201), rgb(133, 202, 84));
    font-family:Arial;
    font-size:12px;
    position:absolute;
}

.node2 {
    border-color: rgb(209, 223, 224);
    fill: #99d370;
    background-image: -webkit-linear-gradient(top, rgb(217, 238, 201), rgb(133, 202, 84));
}

.node1 text {
    pointer-events: none;
    fill:#000;
    width: 187px;
    font-family: verdana;
    font-size: 30px;
}

.node2 text {
    pointer-events: none;
    fill:#000;
    size: 30px;
    width: 187px;
    font-family: verdana;
    font-size: 30px;
}

.node0 text {
    pointer-events: none;
    size: 30px;
    width: 187px;
    font-family: verdana;
    font-size: 30px;
    fill:#000;
}

line {
    position:absolute;
    font-size:16px;
    font-weight:bold;
    color:rgb(255,0,0);
    text-align:center;
    left:0px;
    top:50.5px;
    width:16px;
    height:20px;
    opacity:0.5;

}
line:hover {
    position:absolute;
    font-size:16px;
    font-weight:bold;
    color:rgb(255,0,0);
    text-align:center;
    left:0px;
    top:50.5px;
    width:16px;
    height:20px;
    opacity:1;
}
.reader {
    background:white;
    font-size:16px;
    display:none;
}
rect title{
    font-size:18pt;
    font-family:verdana;
    color:yellow;
    border:10px;
    display:none;
    z-index:999;
}

.Ukb {
    cursor: pointer;
    position: absolute;
}
.VU {
    border-color: rgb(209, 223, 224);
    background-image: -webkit-linear-gradient(top, rgb(217, 238, 201), rgb(133, 202, 84));

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-width: 1px;
    -moz-box-shadow: 0px 2px 2px #ccc;
    -webkit-box-shadow: 0px 2px 2px #ccc;
    box-shadow: 0px 2px 2px #ccc;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color=\000027#CCCCCC\000027)";
    filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color=\000027#CCCCCC\000027)";
    position: absolute;
}
.VUH {
    border-color: rgb(209, 223, 224);
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-width: 1px;
    -moz-box-shadow: 0px 2px 2px #ccc;
    -webkit-box-shadow: 0px 2px 2px #ccc;
    box-shadow: 0px 2px 2px #ccc;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color=\000027#CCCCCC\000027)";
    filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color=\000027#CCCCCC\000027)";
    position: absolute;
}


.z6 {
    background: no-repeat url(sprites.png) -767px -188px;
    height: 21px;
    width: 21px;
    position:absolute;

}
.IU {
    background: no-repeat url(sprites.png) -542px -124px;
    height: 21px;
    width: 21px;
    position:absolute;
}
.out {
    position: absolute;
    background-color: rgb(236, 85, 64);
    -webkit-print-color-adjust: exact;
    left: 1000px;
    top: 100px;
    width: 16px;
    height: 180px;
    border-top-right-radius: 16px;
    opacity: 0.8;
    cursor: pointer;
}
.out1 {
    position: absolute;
    background-image: -webkit-linear-gradient(top, rgb(236, 85, 64), rgba(236, 85, 64, 0));
    -webkit-print-color-adjust: exact;
    left: 1000px;
    top: 280px;
    width: 16px;
    height: 15px;
    opacity: 0.8;
    cursor: pointer;
}
.out2 {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    text-align: center;
    left: 0px;
    top: 83.5px;
    width: 16px;
    height: 20px;
    opacity: 1;
    cursor: pointer;
}
.QNb {
    font-family: Arial;
    font-size: 12px;
    left: 29px;
    padding-left: 3px;
    padding-top: 2px;
    position: absolute;
    top: 8px;
    white-space: nowrap;
    color:#555555;
    font-weight:bold;
}
.WS {
    font-weight:bold;
    color:#555555;
    position: absolute;
}
.ID-hint {
    position: fixed;
    padding: 5px;
    text-align: left;
    font-family: arial,sans-serif;
    color: #333;
    font-size: 13px;
    background-color: #fff;
    border-style: solid;
    border-top-color: #ccc;
    border-left-color: #ccc;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
    border-width: 2px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    z-index:999;
}
.Td .Zb{
    color: #333;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
}
.Td .Cc {
    position:relative;
}
.Td .Cc .CJ {
    background-color: none;
    vertical-align: middle;
    width: 60px;
    display: inline-block;
    position: relative;
    margin-top: -14px;
}

.Td .Cc .KD {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.Td .Cc .jL {
    margin-top: 7px;
    font-weight: bold;
    border-collapse: collapse;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.Td .Cc .Sq {
    padding-bottom: 7px;
    border-bottom: 2px solid #ccc;
}